html {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
}

button {
    text-align: center;
    vertical-align: middle;
    margin: 1px;
    padding: 1px;
    width: 30px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    width: 150px;
    gap: 2px;
    padding: 10px;
}

.row {
    width: 140px;
    margin: auto;
}

#display {
    border: 1px solid black;
    background-color: lightgray;
    width: 140px;
    margin: auto;
    text-align: end;
}

#top-row {
    flex-grow: 1;
}

#bottom-row {
    display: flex;
}

#zero {
    flex-grow: 2;
}

#decimal {
    flex-grow: 0;
}

#equals {
    flex-grow: 0;
}